.Header-container {
    
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Header-wrapper {
    margin: 0 auto;
    max-width: 1400px;
}

.Header-title {
    font-size: 22px;
    line-height: 20px;
}