.app-wrapper {
  background-color: black;
  width: 100%;
  height: 100%;
}

.app-wrapper {
  background-image: url(./assets/logo/background.jpg);
  background-repeat: no-repeat;
  background-size:100%;
}
.app-main {
  display: flex;
  flex-direction: row;
}

.app-navbar {
  display: flex;
  flex-direction: column;
}
.app-content {
  width: 70%;
}
.app-container {
  position: relative;
  margin: 30px auto 30px auto;
  padding: 50px;
  width: 60%;
  background: rgba(45,38,46, 73%);
  border: 1px solid black;
  border-radius: 10px;
}