.App-wrapper {
  background-color: black;
  width: 100%;
  height: 100%;
}

/* .App-container {
  background-image: url(./assets/logo/obsidianLogo\ 1.png);
  background-repeat: no-repeat;
  background-position: right 20% top 15%;
  position: relative;
} */
.App-wrapper {
  background-image: url(./assets/logo/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.App-main {
  display: flex;
  flex-direction: row;
}

.App-navbar {
 
  display: flex;
  flex-direction: column;
  
  font-size: 20px;
}

.app-container {
  position: relative;
  margin: 30px auto 30px auto;
  padding: 50px;
  max-width: 60%;
  background: rgba(45,38,46, 73%);
    border: 1px solid black;
    border-radius: 10px;
}